body {
     margin-top: 50px;
     background-color: rgb(243, 181, 137);

}
ul{
    padding: 0;
}

ul li {
    border: 1px solid black;
    list-style: none;
    padding: 6px;
    padding-left: 8px;
}
h1{
    text-align: center;
}
input {
    border: none;
    width: 100%;
}